[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Berusky2
Comment=Rescue the bugs!
Exec=berusky2
StartupNotify=false
Terminal=false
Type=Application
Icon=berusky2.png
Categories=Game;LogicGame;
